/*
	Large devices Desktops (≥1200px)
	Medium devices Desktops (≥992px)
	Small devices Tablets (≥768px)
	Extra small devices Phones (<768px)

	col-xs-12 col-sm-3 col-md-3
*/

@media screen and (max-width:600px){
	/*  LOGIN  */
	.wrapper-login-company, .wrapper-login-person {

		margin-left: 10%;
	    width: 80%;
	}
	.img-login {
  		margin-top: 8px;
	}
}

/* Dispositivos muy pequeños Teléfonos (<768px) */
@media screen and (max-width:768px){
	.form-create-ofert select{
		width: 100%;
	}
	.wrapper-profile{
		padding-top: 60px;
	}
	.modal-big {
		width:  100%;
	}

	.wrapper-search {
		margin-top: 15px;
	}

	.wrapper-search-page-offer {
		margin-top: 30px;
	}

	.wrapper-count-oferts{
		padding-top: 106px;
	}
	.wrapper-search-page-search {
		width: 100%;
		z-index: 1;
		margin-top: -50%;
		margin-left: 0%;
	}
	
	.wrapper-section {
  	margin-top: 8%;
	}   

	#wrapper-menu-side {
		display: none;
	}

	/* Ajustar modal en movil */
	.modal-dialog{
	  margin: 0;
	  padding: 5px;
	}

	/*  LOGIN  */
	.wrapper-page-login {
    margin-top: 0%;
	}
	.wrapper-login-company h3, .wrapper-login-person h3 {

		font-size: 12px;
		margin-bottom: 0;
	}

	.wrapper-login-company p, .wrapper-login-person p {
		font-size: 11px;
	}
	.wrapper-login-company hr, .wrapper-login-person hr {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.logo-company-default-list {
	    margin: 0;
	}

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: rgba(243, 245, 246, 0.87);
  }
}