/*calc(100% - 100px);*/
body {
	background-color: #f8f8f8;
}

.style-mihv-count {
  background: #e7e3e3 !important;
  font-size: 13px !important;
  color: #0a2945 !important;
  border-bottom-style: double !important;
}
    

/* * * * * * * * * * * * * * * * *  */
/* NAV BAR - MENU PRINCIPAL */
/* Cambiando .navbar-default de bootstrap por custom .navbar */
.navbar {
    margin-bottom: 0px;
}

.navbar{ 
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: #2e6da4;
    border-color: #f7f7f8;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
    color: #507ca1;
    background-color: #f3f5f6;
    letter-spacing: 0.6px;
}

.navbar .navbar-nav>li>a {
  color: rgba(243, 245, 246, 0.89);
  letter-spacing: 0.6px;
}

.navbar .navbar-brand {
  color: #f9f9f9;
  letter-spacing: 2.5px;
  text-shadow: 1px 0px 5px rgb(0, 0, 0);
}

.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
    color: #296aa1;
    background-color: rgba(255, 255, 255, 0.99);
}

.navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
    color: #e6e9ea;
    background-color: rgb(42, 103, 154);
}


/* * * * * * * * * * * * * * * * *  */
/* 3 BLOQUES "Te ahorramos tiempo, Portal colombiano, Otras Herramientas" - PAGINA PRINCIPAL */
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image {
    position: relative;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 5px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #337ab7;
    vertical-align: middle;
}
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info {
    margin-top: -16px;
    background: rgba(255, 255, 255, 0.79);
    border: 4px solid #ffffff;
    padding: 15px 0 10px 0;
}

.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title {
    font-size: 16px;
    color: #134775;
    font-weight: 500;
}
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }


.box-footer > .icon > .info {
  margin-top: 0px;
  background: rgba(255, 255, 255, 0);
  border: 0px;
  padding: 0px 0 0px 0;
}

.wrapper-search{ 
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 51px; 
  background: rgb(248, 248, 248);
  background: -moz-linear-gradient(top, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(248, 248, 248)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
}

.wrapper-search-page-offer{ 
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 51px; 
  background: rgb(248, 248, 248);
  background: -moz-linear-gradient(top, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(248, 248, 248)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
}

.section-page-search {
  background: -moz-linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.93) 93%,rgba(46, 109, 164, 0.57) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.93) 93%,rgba(46, 109, 164, 0.57) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.93) 93%,rgba(46, 109, 164, 0.57) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ed4475e5',GradientType=0 ); /* IE6-9 */
}

.block-ofert-header h4{
  color: #2272b9;
  font-size: 17px;
}

.block-ofert-header p{
  color: #677480;
}

.block-ofert-body-description p{
 color: #3b4248; 
}

.modal-body-ofert-selected-person label,
#form-remove-offer label.title-field, 
.form-create-ofert label.title-field,
.page-offer .wrap-view-offer label.title-field, 
.page-offer .wrap-view-offer h4,
.page-edit-profile-company #form-edit-company label.title-field,
#form-edit-user-person label.title-field
{
  color: #2272b9;
}

.modal-body-ofert-selected-person p.data-ofert, 
.modal-body-ofert-selected-company input[type="text"], 
.modal-body-ofert-selected-company textarea, 
.form-edit-profile input[type="text"], 
.form-edit-profile textarea, 
.form-create-ofert input[type="text"], 
.form-create-ofert textarea{
  color: #54606b;
  text-align: justify;
}

.text-align-normal {
  text-align: start !important;
}

.modal-header-ofert-selected-person, .modal-header-ofert-selected-company {
  background: #173752;
  color: #fff;
}

.modal-header-ofert-selected-person button.close, .modal-header-ofert-selected-company button.close{
  color: #fff;
  opacity: 0.8;
}

#form-apply-operations{
  background-color: #3d4249;
  border-radius: 6px;
  padding: 7px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.wrapper-count-oferts {
	padding-top: 100px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(35deg, rgb(175, 180, 184) 0%,rgba(243,243,243,1) 50%,rgba(196, 203, 208, 0.69) 51%,rgb(255, 255, 255) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(35deg, rgb(175, 180, 184) 0%,rgba(243,243,243,1) 50%,rgba(196, 203, 208, 0.69) 51%,rgb(255, 255, 255) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(35deg, rgb(175, 180, 184) 0%,rgba(243,243,243,1) 50%,rgba(196, 203, 208, 0.69) 51%,rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.wrapper-carousel-home, .wrapper-recover-password, .wrapper-recharge-balance, .wrapper-advertising-info, .wrapper-terms-conditions{
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(150deg, rgb(4, 6, 8) 0%,rgba(243,243,243,1) 50%,rgba(196, 203, 208, 0.69) 51%,rgb(255, 255, 255) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(150deg, rgb(4, 6, 8) 0%,rgba(243,243,243,1) 50%,rgba(196, 203, 208, 0.69) 51%,rgb(255, 255, 255) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(150deg, rgb(4, 6, 8) 0%,rgba(243,243,243,1) 50%,rgba(196, 203, 208, 0.69) 51%,rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.wrapper-profile, .wrap-top{
   padding-top: 76px;
}

.title-edit-profile b{
  color: #2e6da4;
}

.title-edit-profile p{
  color: #677480;
}

.form-edit-profile .logo-company {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: -95px;
  margin-left: 120px;
  -webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.82);
  -moz-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.82);
  box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.82);
  border-radius: 5px;
  display: none;
}

#result_oferts .logo-company, .panel-priority .logo-company{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.logo-company-default {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background: rgb(131, 142, 158);
  margin: 0 auto;
  padding: 9px;
  font-size: 35px;
  color: white !important;
  text-align: center;
}

.logo-company-default-list {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background: rgb(131, 142, 158);
  padding: 9px;
  font-size: 35px;
  color: white !important;
  text-align: center;
  margin: 0 auto;
}

#result_oferts .img-adverting-oferts {
  width: 100%;
  height: auto;
}

.form-edit-profile .text-logo-company{
  color: #2e6da4;
  font-family: serif;
  cursor:n-resize;
}

.form-edit-profile .f-logo{
  width: 80%;
}

.wrapper-content-page-oferts {
  width: 70%;
}

.wrapper-count-oferts, .wrapper-carousel-home { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal-big {
  width:  85%;
}

.rows-oferts-apply {
  padding-top: 7px;
}

.rows-oferts-apply:nth-child(odd) {
    background-color: #eeeeee;
}
.rows-oferts-apply:nth-child(even) {
    background-color: #fff;
}

.page-search .wrapper-section{
  margin-top: 51px;
}  

.page-login-register .wrapper-section{
  padding-top: 40px;
}    

.block-search { 
  z-index: 1;
}

.block-oferts {
  padding-top: 4px;
}

.wrapper-messages-system {
  padding-top: 22px;
}

.item-count-ofert {
  background-color: rgba(228, 228, 228, 0.92);
  border-bottom: 2px solid rgb(175, 188, 198);
}

.item-count-ofert .count-category-mobile{
  background-color: rgba(51, 122, 183, 0.9);
}

.item-count-ofert .count-category-mobile a{
  font-family: 'Oswald', sans-serif;
  font-size: 16PX;
  font-weight: bold;
  color: #fff;
  letter-spacing: 3.2px;
  padding: 5px;
}

.item-count-ofert .title-count-category-mobile{
  font-size: 14px;
}

.wrapper-content-edit-company {
  background-color: #ffffff;
}

.error-edit-ofert {
  display: none;
}

/*
 * ESTILOS DE LOGIN
 */
.wrapper-page-login {
  background: linear-gradient(0deg, rgba(252, 254, 255, 0.81), rgba(251, 254, 255, 0.63)), url(/src/img/mihv/site/bg-login.jpg) repeat;
  background-size:100% auto;
}

.img-login {
  background-color: rgba(255, 255, 255, 0.16);
  cursor: pointer;
  min-width: 58px;
  min-height: 58px;
}

.wrapper-login-company, .wrapper-login-person {
  -webkit-box-shadow: 0px 0px 15px 8px rgb(6, 64, 106);
  -moz-box-shadow: 0px 0px 15px 8px rgb(6, 64, 106);
  box-shadow: 0px 0px 15px 8px rgb(6, 64, 106);
  margin: 7%;
  width: 35%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.61);
  opacity: 0.95;
  margin-top: 10px;
}

.border-fieldset {
  border: thin solid rgba(23, 55, 82, 0.41); 
  border-radius: 4px;
  padding: 20px;
  padding-top: 0px;
  padding-left: 40px;
}

#registerModal #form-register-person, #registerCompanyModal #form-register-company {
  overflow-y: scroll;
}

.wrap-recharge {
  background-color: #d5d5d5;
}

/*
 * GLOBAL
 */

.white-bg{
  background:#ffffff;
}

::selection { background: #337ab7; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #337ab7; color: #FFFFFF; }
.title-page {
    text-shadow: 1px 0px 30px rgb(248, 248, 248);
    color: #1b76bb;
}
.description-page {
  text-shadow: 1px 0px 30px rgb(248, 248, 248);
}
.error {
  color: rgba(167, 17, 17, 0.82);
}
.title-page h3{
  color: #f1f1f1;
  text-shadow: 1px 0px 5px rgb(0, 0, 0);
  letter-spacing: 1.6px;
}
.title-page p{
  color: #40596e;
  text-shadow: 1px 0px 4.1px rgba(255, 255, 255, 0.91);
  font-size: 16px;
  letter-spacing: 0.5px;
}
.form-search-oferts button.dropdown-toggle, .form-search-oferts  .btn-icon-search {
  height: 34px;
}


/*
 * FOOTER
 */

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background: rgb(153,153,153); /* Old browsers */
  background: -moz-linear-gradient(to bottom,  rgb(241, 243, 244) 0%,rgb(202, 203, 204) 55%,rgb(167, 167, 167) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(to bottom,  rgb(241, 243, 244) 0%,rgb(202, 203, 204) 55%,rgb(167, 167, 167) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgb(241, 243, 244) 0%,rgb(202, 203, 204) 55%,rgb(167, 167, 167) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}

footer h3.title-block {
  font-size: 20px;
  color: #134775;
  font-weight: 500;
  text-shadow: 1px 0px 5px rgb(119, 136, 181);
  letter-spacing: 0.6px;
}

footer .copy-right p{
  color: black;
  text-shadow: 2px 0px 5.1px rgb(255, 255, 255);
}
/* - - - - - - - - - - - - - - - - - */


/*  --- CARRUSEL OFERTAS DESTACADAS INDEX ---  */

.panel-priority {
  border-color: rgba(16, 49, 78, 0.78);
  -webkit-box-shadow: 0px 0px 24px 2px rgba(2,23,56,1);
  -moz-box-shadow: 0px 0px 24px 2px rgba(2,23,56,1);
  box-shadow: 0px 0px 24px 2px rgba(2,23,56,1);
  max-height: 350px;
  min-height: 350px;
}

.panel-priority .panel-header {
  background-color: #337ab7;
  border-color: #0b5798;
  text-align: center;
  padding-top: 10px;
}

.panel-priority .panel-header .panel-title {
  color: #f1f3f4;
  padding: 4px;
  font-size: 14px;
  min-height: 45px;
  max-height: 45px;
}

.panel-priority .panel-body p {
  font-size: 12px;
  min-height: 51px;
}

.panel-priority h5{
  max-height: 55px;
  min-height: 55px;
}


/*  PAGE RECOVER PASSWORD */
.wrapper-recover-password, {
  padding-top: 60px;
}

.wrp-page {
  padding-top: 60px; 
}

.wrapper-recharge-balance, .wrapper-advertising-info, .wrapper-terms-conditions {
  padding-top: 100px;
  padding-bottom: 40px;
}

.section-messages-system {
  padding-top: 100px;
}


/*  BLOQUE PUBLICIDAD VERTICAL  */

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  color: #e1ffff;
  top: 51px;
  height: calc(100% - 50px);
  margin: 0;
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu img {
  width: 100%;
  height: auto;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 5px solid #337ab7;
  background-color: #4f5b69;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 5px solid #337ab7;
  border-bottom: 4px solid #23282e;
}

.nav-side-menu li a {
  color: #e1ffff;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #2e6da4;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.page-offer .wrap-view-offer {
  background-color: #fff;
}

/* 404.php */
.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

.link-buy img {
  width: 17%;
}

.cursor-pointer {
  cursor: pointer;
}

.wrap-question label.text-primary {
  padding: 6px 12px;
}



.wrap-question h3 {
  margin: 0 auto;
  margin-bottom: 7px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(51, 122, 183, 0.88);
  padding-left: 9px;
  padding-top: 2px;
  color: white;
}

footer li {
  list-style: none;
}

footer ul {
  -webkit-padding-start: 0px;
  padding: 0px;
}

    

